@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popin,sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("assets/walljungle1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    
}
/* container ki look */
.wraper{
    
    width: 400px;
    /* border: solid transparent; */
    border: 3px solid salmon;
    background-color: transparent;
    border-radius: 10px;
    padding: 30px 40px;
}
/* headings */
.wraper h1{
    text-align: center;
    font-size: 36px;
}
/*container+ input editing */
.wraper .iput_box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    
}
/* inputbox+ inputs */
.iput_box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffff;
    padding: 20px 45px 20px 20px;
}
/* input placeholders */
.iput_box input::placeholder{
    color: #ffff;
}
/* input icons */
.iput_box i{
    position: absolute;
    right: 20px; 
    top: 50%;  
    transform: translatey(-50%); 
    font-size: 20px;
} 
/* container forget pasw */
.wraper .remmber_forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
/* forget psw +cheack box */
.remmber_forget label input{
    accent-color: #fff;
    margin-right: 5px;
}
/* forgetpsw+link */
.remmber_forget a{
    color: #fff;
    text-decoration: none;
}
/* hover */
.remmber_forget a:hover{
    text-decoration: underline;
    color: blue;
    
}
/* button */
.wraper .btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 35px;
    box-shadow: 1,1,10px rgba(0,0,0,.1);
    cursor: pointer;
    color: #333;
    font-size: 16px;
    font-weight: 600;

}
/* rigister+container */
.wraper .rigester_link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
/* link */
.rigester_link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.rigester_link p a:hover{
    text-decoration: underline;
    color: blue;
}
.rigester_link P{
    color: green;
    font-size: 20px;
}
.remmber_forget input{
    color: green;
}